@charset "UTF-8";
@media only screen and (max-width: 767px) {
  body {
    font-size: 0.88rem;
  }

  h1, h2, h3 {
    font-size: 1.5rem;
  }

  .how-its-made {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mt-4-5 {
    margin-top: 0px !important;
  }

  .welcome-message {
    height: 244px !important;
  }

  .menu__item {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 440px) {
  .circle {
    left: -11.6% !important;
  }
}
@media only screen and (min-width: 441px) and (max-width: 575px) {
  .circle {
    left: -11.1% !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .circle {
    left: -4.6% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  h1, h2 {
    font-size: 2rem;
  }

  aside h2, h3 {
    font-size: 1.5rem !important;
  }

  .mt-4-5 {
    margin-top: 1.8rem !important;
  }

  .how-its-made {
    padding: 4rem 4rem;
    text-align: center;
  }

  .welcome-message {
    height: 293px !important;
  }
}
body {
  background-color: #FFFBF4;
  margin: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  color: #2C165C;
}

h1 {
  margin-bottom: 1rem;
}

aside h2 {
  font-size: 2rem;
}

.px-4-5 {
  padding-left: 1.9rem;
  padding-right: 1.9rem;
}

.py-2-5 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mt-4-5 {
  margin-top: 2.2rem;
}

.text--primary {
  color: #2C165C !important;
}
.text--secondary {
  color: #FFA83D !important;
}

.bg--primary {
  background-color: #2C165C !important;
}
.bg--secondary {
  background-color: #FFA83D !important;
}

.btn {
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none !important;
  background: none;
  color: inherit !important;
}
.btn:focus, .btn:active {
  box-shadow: none !important;
}
.btn--primary {
  background-color: #2C165C !important;
  color: #FFFBF4;
}
.btn--secondary {
  background-color: #FFA83D !important;
  color: #2C165C !important;
}

.figures h1 {
  color: #FFA83D;
  font-size: 4.5rem;
}

article p, span {
  color: #2C165C;
}

.menu__item {
  display: inline-block;
  color: #2C165C;
  cursor: pointer;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2C165C;
  color: #FFFBF4;
  height: 375px;
}

.how-its-made {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFA83D;
  color: #FFFBF4;
  height: 241px;
}

.circle {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -16.7%;
  margin-top: 5px;
}

.bar {
  width: 2px;
}

.icon-menu--down:after {
  content: " ⌄";
  display: inline-block;
  margin-left: 5px;
  transform: scale(1.5) translateY(-3.7px);
}

.ReactCollapse--collapse {
  transition: height 400ms;
  transition-timing-function: ease-in-out;
}

/*# sourceMappingURL=App.css.map */
