$font-stack:    Helvetica, sans-serif
$primary-color: #2C165C
$secondary-color: #FFA83D
$light-color: #FFFBF4

@media only screen and (max-width: 767px)
  body
    font-size: 0.88rem

  h1, h2, h3
    font-size: 1.5rem

  .how-its-made
    margin-left: -15px
    margin-right: -15px
    padding-left: 15px
    padding-right: 15px

  .mt-4-5
    margin-top: 0px !important

  .welcome-message
    height: 244px !important

  .menu__item
    display: block
    width:100%
    text-align: center

@media only screen and (max-width: 440px)
  .circle
    left: -11.6% !important

@media only screen and (min-width: 441px) and (max-width: 575px)
  .circle
    left: -11.1% !important

@media only screen and (min-width: 576px) and (max-width: 767px)
  .circle
    left: -4.6% !important

@media only screen and (min-width: 768px) and (max-width: 1199px)
  h1, h2
    font-size: 2rem

  aside h2, h3
    font-size: 1.5rem !important

  .mt-4-5
    margin-top: 1.8rem !important

  .how-its-made
    padding: 4rem 4rem
    text-align: center

  .welcome-message
    height: 293px !important


body
  background-color: $light-color
  margin: 0
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif'

h1,h2,h3,h4,h5,h6
  color: $primary-color

h1
  margin-bottom: 1rem

aside h2
  font-size: 2rem

.px-4-5
    padding-left:  1.9rem
    padding-right: 1.9rem

.py-2-5
    padding-top:  0.75rem
    padding-bottom: 0.75rem

.mt-4-5
    margin-top: 2.2rem

.text
  &--primary
    color: $primary-color !important
  &--secondary
    color: $secondary-color !important

.bg
  &--primary
    background-color: $primary-color !important
  &--secondary
    background-color: $secondary-color !important

.btn
  border-radius: 10px
  font-size: 16px
  font-weight: bold
  border: none
  outline: none !important
  background: none
  color: inherit !important
  &:focus, &:active
      box-shadow: none !important
  &--primary
      background-color: $primary-color !important
      color: $light-color
  &--secondary
      background-color: $secondary-color !important
      color: $primary-color !important

.figures h1
  color: $secondary-color
  font-size: 4.5rem

article p, span
  color: $primary-color

.menu__item
  display: inline-block
  color: $primary-color
  cursor: pointer

@mixin backgroundSection($bgColor:null, $color:null, $height:null)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: $bgColor
  color: $color
  height: $height

.welcome-message
  @include backgroundSection($primary-color, $light-color, 375px)

.how-its-made
  @include backgroundSection($secondary-color, $light-color, 241px)

.circle
  border-radius: 100%
  width: 16px
  height: 16px
  position: absolute
  left: -16.7%
  margin-top: 5px

.bar
  width: 2px

.icon-menu--down:after
  content: " ⌄"
  display: inline-block
  margin-left: 5px
  transform: scale(1.5) translateY(-3.7px)

.ReactCollapse--collapse
  transition: height 400ms
  transition-timing-function: ease-in-out
