@media only screen and (max-width: 767px) {
  body{
    font-size: 0.88rem;
  }
  h1, h2, h3{
    font-size: 1.5rem;
  }
  .how-its-made{
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mt-4-5{
    margin-top: 0px !important;
  }
  .circle{
    left: -11.5% !important;
  }
  .welcome-message{
    height: 244px !important;
  }
  .menu-item{
    display: block;
    width:100%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1, h2{
    font-size: 2rem;
  }
  aside h2, h3{
    font-size: 1.5rem !important;
  }
  .mt-4-5{
    margin-top: 1.8rem !important;
  }
  .how-its-made{
    padding: 4rem 4rem;
    text-align: center;
  }
  .welcome-message{
    height: 293px !important;
  }
}
body{
  background-color: #FFFBF4;
}
h1,h2,h3,h4,h5,h6{
  color: #2C165C;
}
h1{
  margin-bottom: 1rem;
}
aside h2{
  font-size: 2rem;
}
.px-4-5 {
    padding-left:  1.9rem;
    padding-right: 1.9rem;
}
.py-2-5 {
    padding-top:  0.75rem;
    padding-bottom: 0.75rem;
}
.mt-4-5 {
    margin-top: 2.2rem;
}
.text-primary{
  color: #2C165C !important;
}
.text-secondary{
  color: #FFA83D !important;
}
.bg-primary{
  background-color: #2C165C !important;
}
.bg-secondary{
  background-color: #FFA83D !important;
}
.btn{
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none !important;
  background: none;
}
.btn:focus, .btn:active {
  box-shadow: none !important;
}
.btn-primary, .btn-primary:focus, .btn-primary:active{
  background-color: #2C165C !important;
  color: white;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active{
  background-color: #FFA83D !important;
  color: #2C165C !important;
}
.figures h1{
  color: #FFA83D;
  font-size: 4.5rem;
}
article p, span{
  color: #2C165C;
}
.menu-item{
  display: inline-block;
  color: #2C165C;
  cursor: pointer;
}
.welcome-message{
  background-color: #2C165C;
  color: #FFFAF5 !important;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.how-its-made{
  background-color: #FFA83D;
  color: #FFFAF5;
  height: 241px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle{
  border-radius: 100%;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -18%;
  margin-top: 5px;
}
.bar{
  width: 2px;
}
.timeline{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-menu-down:after{
  content: " ⌄";
  display: inline-block;
  margin-left: 5px;
  transform: scale(1.5) translateY(-3.7px);
}
.ReactCollapse--collapse {
  transition: height 200ms;
}
